OnlineApp/createflow_nodered.json
[{"id":"ed13c61.fd81938","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"595406e3.f5dd18","type":"template","z":"ed13c61.fd81938","name":"format JSON","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"dispositivoId\":\"1\"\n, \"sensorId\":\"1S1\"\n, \"tipo\":\"Temperatura\"\n, \"valor\":{{value}}\n, \"fecha\":\"{{date}}\"} ","output":"json","x":450,"y":140,"wires":[["7d2419a4.f42de8","5956fa9b.8f9604"]]},{"id":"26990ed4.968002","type":"mqtt in","z":"ed13c61.fd81938","name":"","topic":"dispositivo1/temperatura","qos":"2","datatype":"auto","broker":"927f7ce2.d78fb","x":130,"y":80,"wires":[["b14f29dc.dc28c8"]]},{"id":"7d2419a4.f42de8","type":"debug","z":"ed13c61.fd81938","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":220,"wires":[]},{"id":"b14f29dc.dc28c8","type":"function","z":"ed13c61.fd81938","name":"add Time","func":"var resp = {};\nresp.date = (new Date()).toISOString();\nresp.value = msg.payload;\n\nreturn resp;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":140,"wires":[["595406e3.f5dd18"]]},{"id":"5956fa9b.8f9604","type":"mongodb out","z":"ed13c61.fd81938","mongodb":"b8e2d602.bc7338","name":"","collection":"Mediciones","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":710,"y":140,"wires":[]},{"id":"927f7ce2.d78fb","type":"mqtt-broker","z":"","name":"my MQTT Broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b8e2d602.bc7338","type":"mongodb","z":"","hostname":"localhost","topology":"direct","connectOptions":"","port":"27017","db":"Fabrica","name":""}]